 img{
 	max-width: 100%;
 	height: auto;
 }
.custom-toggler {
	background-color: #2f2f2f;
	border: 1px solid grey;
}
 .search{
    margin:auto;
    max-width:300px;
    float: right;
 }
 button {
 	height: 30px;
    border: 2px;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #6EB9C6;
   }
   .search1{
   	height: 30px;
   	border:2px;
   	border-radius: 10px;
   	color: #FFFFFF;
   	background-color: #000000

   }


.custom-toggler .navbar-toggler-icon{
	Background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}
 @media screen and (max-width: 576){
 	header ul{
 		text-align: center;
 		float: none;
 	}
 	#search_form{
 		display: flex;
 		justify-content: center;
 		width: 100%;
 	}
 }
  .head{
  	font-family:'Benne', serif; 
  	line-height: 1.5px;

  }
  .note{
  	max-height: 15px;
  	font-size: 12px;
  	height: 1px;
  	width: 1px:;
  	color: #D7D3D3;
  	line-height: 2px;
  	height: 15px;
}
  .ul li{
max-height: 15px;
    font-size: 12px;
    height: 1px;
    width: 1px:;
    color: #D7D3D3;
    line-height: 2px;
    height: 15px;
}
 .img{
  text-align: left;
 }
 .title{
  text-align: right;
 }
 .*{
  margin: 0;
  padding: 0;
 }
 #menu ul{
  list-style: none;
  text-align: center;
 }
 #menu ul li {
  display: inline;
  width: 45px;
  height: 10px;
  line-height: 1.714px;

 }